* {
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav-link {
  padding: 0 2em;
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}
